* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Header Styling */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 2%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 30px;
    margin-right: 10px;
}

h2 {
    font-size: 20px;
    color: #000000;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    font-size: 20px;
    color: #000;
    margin-right: 10px;
}

.username {
    font-size: 16px;
    color: #000;
}

/* Overlay Styling */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;        
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
    opacity: 1;        
    visibility: visible; 
}

.overlay-content::-webkit-scrollbar {
    display: none;
}

.overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: auto; 
    max-height: 90vh; 
    overflow-y: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Overlay Header */
.overlay-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.overlay-logo-container {
    margin-right: 10px;
}

.overlay-logo {
    width: 40px;
    height: auto;
}

.overlay-brand-name {
    font-size: 20px;
    color: #000000;
    font-weight: 600;
}

/* Overlay Title */
.overlay-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Form Group Styling */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dadada;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

/* Form Action Buttons */
.form-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.submit-button,
.cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
    text-align: center;
}

.submit-button {
    background-color: #1A73E8;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.cancel-button {
    background-color: #E81A1A;
    transition: background-color 0.3s; 
}

.cancel-button:hover {
    background-color: #c9302c;
}

/* Image Preview */
#service-image-preview {
    max-width: 100%;
    max-height: 200px; 
    object-fit: contain; 
    display: none;
    margin-top: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

/* Image preview inside the overlay */
#service-image-preview {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain; 
    display: none; 
    margin-top: 10px;
}

/* Sidebar Styling */

.content-container {
    display: flex;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 250px;
    background-color: white;
    color: #1A73E8;
    height: 100%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.nav ul {
    list-style: none;
}

.nav ul li {
    margin: 10px 0;
}

.nav ul li a {
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: #000;
}

.nav ul li a .icon {
    margin-right: 10px;
    font-size: 24px;
}

.nav ul li a:hover {
    background-color: #0056b3;
    color: white;
}

.nav ul li a.active {
    background-color: #1A73E8;
    color: white;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 20px;
}

/* Category Box */
.service-box {
    color: #333333;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

/* Header Row Styling */

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 5px 3%;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.add-service-button {
    background-color: #1A73E8;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.add-service-button:hover {
    background-color: #0056b3;
}

/* Style for the search container */
.header-row .search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.header-row .search-input {
    width: 500px;
    padding: 8px 12px 8px 40px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: all 0.3s ease;
}

.header-row .search-input:focus {
    border-color: #5b5b5b;
}

.header-row .search-icon {
    position: absolute;
    left: 15px;
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
}

/* Table Styling */
.table-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px 3%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-table {
    width: 100%;
    border-collapse: collapse;
}

.service-table thead tr {
    background-color: #e9e8e8;
}

.service-table th,
.service-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.service-table th:nth-child(1),
.service-table td:nth-child(1) {
    width: 5%;
}

.service-table th:nth-child(2),
.service-table td:nth-child(2) {
    width: 35%; 
}
.service-table th:nth-child(3),
.service-table td:nth-child(3) {
    width: 15%; 
}
.service-table th:nth-child(4),
.service-table td:nth-child(4) {
    width: 15%; 
}

.service-table .service-name {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding-left: 100px;
}


.service-table .service-image {
    width: 100px;
    height: 70px;
    border-radius: 8px;
}

.service-table .service-name span {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}

/* Buttons styling */
.actions-container {
    display: inline-flex;; 
    gap: 5px;
}

.edit-button,
.delete-button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    width: 100px;
    cursor: pointer;
}

.edit-button {
    background-color: #1A73E8;
    color: white;
    margin-right: 5px;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #E81A1A;
    color: white;
}

.delete-button:hover {
    background-color: #c9302c;
}

/* Pagation button */

.pagination-btn {
    background-color: #1A73E8;
    color: #ffffff;
    padding: 8px 16px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.pagination-btn:disabled {
    background-color: #ececec;
    color: #858585;
    cursor: not-allowed;
}

.pagination-btn:hover {
    background-color: #0056b3;
}

